.about {
  padding: 75px 0;
  background: $color-black;

  @include media-max(767.98) {
    padding: 40px 0;
  }

  &__inner {
    display: flex;

    @include media-max(767.98) {
      flex-direction: column-reverse;
    }
  }

  &__left {
    width: 35%;
    padding-right: 70px;
    display: flex;
    flex-direction: column;

    @include media-max(992) {
      width: 45%;
      padding-right: 40px;
    }

    @include media-max(767.98) {
      width: 100%;
      padding: 40px 40px 0;
    }
  }

  &__right {
    width: 65%;

    @include media-max(992) {
      width: 55%;
    }

    @include media-max(767.98) {
      width: 100%;
      padding-right: 0;
    }
  }

  &__desc {
    padding-top: 17px;
  }

  &__more {
    margin-top: auto;

    @include media-max(767.98) {
      margin-top: 30px;
    }
  }
}
