.answers {
  padding: 40px 0 96px;
  background: $color-black;
  @include bg-cover;

  @include media-max(767.98) {
    display: none;
  }

  &__container {
    max-width: 1520px;
  }

  &__title {
    max-width: 620px;
  }

  &__accordion {
    margin-top: 72px;
  }
}
