.header {
  position: relative;
  background: $color-black;
  width: 100%;

  &--home {
    @include absolute-h-center;
    top: 0;
    z-index: 99;
    background: transparent;
  }

  &__inner {
    padding-top: 38px;
    padding-bottom: 34px;
    @include flex-v-center;
    justify-content: space-between;

    @include media-max(1024) {
      & > * {
        position: relative;
        z-index: 101;
      }
    }

    @include tablet {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  &__right {
    @include flex-all-center;
  }

  &__left {
    @include flex-all-center;

    @include tablet {
      flex-direction: row-reverse;
    }
  }

  &__logo {
    position: relative;
    z-index: 101;
    @include flex-v-center;

    @include media-max(767.98) {
      max-width: 110px;
    }
  }
}
