.hero {
  height: auto;
  width: 100%;
  position: relative;

  &:before {
    @include after-before-cover;
    background: url("../img/hero-bg.png");
    @include bg-cover;
    z-index: -1;

    @include media-max(767.98) {
      background: url("../img/hero/hero-bg-mob.png");
      @include bg-cover;
    }
  }

  &:after {
    @include after-before-cover;
    background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.72) 0.03%, rgba(0, 0, 0, 0) 99.96%);
    transform: rotate(-180deg);
    z-index: -1;
  }

  &__socials {
    display: flex;
  }
}

.hero-intro {
  padding-top: 200px;
  padding-bottom: 92px;

  @include media-max(1240) {
    padding-top: 140px;
    padding-bottom: 50px;
  }

  @include media-max(767.98) {
    padding-bottom: 10px;
  }

  &__container {
    @include media-max(767.98) {
      padding: 0 10px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 122.7%;
    color: $color-white;
    margin: 0 0 35px 0;
    min-height: 120px;

    @include media-max(1240) {
      font-size: 44px;
    }

    @include tablet {
      font-size: 33px;
      min-height: 90px;
      margin: 0 0 25px 0;
    }

    @include media-max(767.98) {
      text-align: center;
      font-size: 29px;
      min-height: 110px;
      margin: 0;
    }

    @include media-max(500) {
      font-size: 25px;
      min-height: 100px;
    }

    @include media-max(414) {
      font-size: 22px;
      min-height: 90px;
    }
  }

  &__buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: max-content;

    @include media-max(767.98) {
      display: none;
    }
  }

  &__btn {
    font-size: 22px;
    margin-bottom: 15px;
    max-width: max-content;
  }

  &__hint {
    font-family: Cuprum, sans-serif;
    font-size: 14px;
    color: #C7C7C7;
  }
}

.hero-bottom {
  display: flex;
  position: relative;

  @include media-max(992) {
    flex-direction: column;
    align-items: center;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: $color-black;
    height: 125px;
    z-index: -1;

    @include media-max(992) {
      height: 165px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 80px;

    @include tablet {
      padding-right: 15px;
    }

    @include media-max(992) {
      align-items: center;
      padding-right: 0;
      padding-top: 50px;
    }
  }
}

.hero-team {
  display: flex;
  align-items: flex-end;
  overflow-x: hidden;
  margin-right: 115px;

  @include media-max(1240) {
    margin-right: 50px;
    width: 60%;
  }

  @include media-max(992) {
    margin-right: 0;
    width: 100%;
  }

  &__photo {
    width: 14.28571%;
    height: 450px;
    display: block;

    &:nth-child(7) {
      border-top-right-radius: 19px;
      border-bottom-right-radius: 19px;
    }

    @include media-max(1600) {
      height: 100%;
    }

    @include media-max(1240) {
      width: 20%;
      height: 260px;

      &:nth-child(5) {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &:nth-child(7),
      &:nth-child(6) {
        display: none;
      }
    }

    @include media-max(992) {
      height: 370px;

      &:nth-child(5) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    @include media-max(767.98) {
      height: 230px;
    }

    @include media-max(500) {
      height: 200px;
    }

    @include media-max(400) {
      height: 160px;
    }
  }
}

.hero-stat {
  padding: 40px 0 20px;

  @include media-max(992) {
    display: flex;
    padding: 0 0 40px;
  }

  @include media-max(767.98) {
    display: none;
  }

  &__item {
    @include media-max(992) {
      text-align: center;
    }

    &:not(:last-child) {
      padding-bottom: 20px;

      @include media-max(1240) {
        padding-bottom: 14px;
      }

      @include media-max(992) {
        padding-bottom: 0;
        padding-right: 30px;
      }
    }

    &-title {
      font-size: 36px;
      line-height: 122.7%;
      font-weight: 400;
      color: $color-white;

      @include media-max(1240) {
        font-size: 34px;
      }
    }

    &-subtitle {
      font-size: 13px;
      line-height: 18px;
      color: #ADADAD;
    }
  }
}

.hero-mail {
  display: none;
  max-width: 320px;
  margin-bottom: 45px;
  padding: 0 10px;

  @include media-max(767.98) {
    display: block;
  }

  &__title {
    font-size: 16px;
    text-align: center;
    color: #CACACA;
    margin-bottom: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-input {
    margin-bottom: 10px;
    height: 40px;
    font-size: 18px;
    padding: 7px 20px;
  }

  &__form-btn {
    padding: 12px 20px;
    margin-bottom: 20px;
  }
}
