@mixin bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

@mixin flex-h-center {
  display: flex;
  justify-content: center;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-all-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin after-before-cover {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin absolute-h-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-v-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-all-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin hover-btn-darken($color) {
  background: darken($color, 10%);
}

@mixin hover-btn-lighten($color) {
  background: lighten($color, 10%);
}

@mixin not-last {
  &:not(:last-child) {
    @content
  }
}
