.course-card {
  position: relative;
  height: 452px;
  border-radius: 20px;
  //overflow: hidden;
  padding: 14px;

  &--coming {
    @include flex-v-center;
  }

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;

    &--coming {
      height: auto;
      justify-content: flex-start;
      padding-left: 150px;
    }
  }

  &__preview {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__data {
    width: 580px;
    padding: 15px 0 3px;

    &--coming {
      width: 60%;
      padding: 0 60px 0 0;
    }
  }

  &__header {
    display: flex;
    font-family: Cuprum, sans-serif;
    font-style: normal;
    margin-bottom: 38px;

    &--coming {
      margin-bottom: 5px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 36px;
    color: $color-white;
    margin-right: 16px;
  }

  &__release-info {
    font-family: Cuprum, sans-serif;
    font-weight: 700;
    font-size: 72px;
  }

  &__rating {
    @include flex-v-center;

    &-val {
      display: inline-block;
      margin-top: 5px;
      font-weight: 700;
      font-size: 24px;
      color: $color-white;
    }

    &-star {
      width: 25px;
      height: 25px;
      margin-left: 8px;
      fill: $color-yellow;
    }
  }

  &__price {
    margin: 24px 0 36px;
    display: flex;
    line-height: 1;

    &--coming {
      margin: 18px 0 0 0;
    }

    &-text {
      font-family: Cuprum, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      align-self: flex-end;
    }

    &-val {
      font-size: 48px;
      font-weight: 500;
      margin: 0 22px 0 10px;
    }

    &-val-old {
      height: max-content;
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0.065em;
      color: #818181;
      position: relative;

      &:before {
        content: "";
        width: 100%;
        height: 1.5px;
        background: $color-white;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        transform: rotate(-16deg);
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;

    &--coming {
      flex-grow: 1;
    }
  }

  &__btn {
    width: 50%;
    padding: 16px 15px;
    font-family: Gotham Pro, sans-serif;
    font-weight: 500;
    font-size: 22px;

    &--more {
      margin-right: 11px;
    }
  }

  &__label {
    position: absolute;
    top: 14px;
    left: 14px;
    padding: 7px 18px;
    font-family: Cuprum, sans-serif;
    font-weight: 600;
    font-size: 14px;

    &--new {
      color: $color-black;
      background: $color-white;
      border-radius: 15px;
    }
  }

  &__likes {
    position: absolute;
    right: 14px;
    top: 14px;
    @include flex-v-center;

    &-icon {
      width: 28px;
      height: 28px;
      fill: $color-white;
      margin-right: 9px;
    }

    &-count {
      font-family: Cuprum, sans-serif;
      font-weight: 400;
      font-size: 22px;
    }
  }
}
