.course-card {
  position: relative;
  height: 452px;
  border-radius: 20px;
  //overflow: hidden;
  padding: 14px;
  @include not-last {
    margin-bottom: 27px;
  }

  &--coming {
    @include flex-v-center;
  }

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;

    &--coming {
      height: auto;
      justify-content: flex-start;
      padding-left: 150px;
    }

    &--two-col {
      justify-content: space-between;
    }
  }

  &__preview {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__advantages {
    padding-left: 40px;
    padding-bottom: 20px;
    align-self: flex-end;
  }

  &__advantages-title {
    font-size: 24px;
    color: $color-white;
  }

  &__advantages-list {
    padding-top: 20px;
  }

  &__advantages-item {
    position: relative;
    font-size: 24px;
    color: $color-white;
    padding-left: 54px;
    @include not-last {
      margin-bottom: 26px;
    }

    &:before {
      content: "";
      @include absolute-v-center;
      left: 0;
      width: 30px;
      height: 30px;
      background: url("data:image/svg+xml,%3Csvg width='30' height='29' viewBox='0 0 30 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14.5' cy='14.5' r='13.5' stroke='white' stroke-width='2'/%3E%3Cpath d='M1.54452 11.2082C2.10242 10.5958 3.00695 10.5958 3.56485 11.2082L13.3441 21.9428L10.7896 24.7468L1.01042 14.0122C0.452517 13.3998 0.452517 12.4069 1.01042 11.7945L1.54452 11.2082Z' fill='%23F85858'/%3E%3Cpath d='M28.1402 3.69485C28.6981 4.30726 28.6981 5.30016 28.1402 5.91257L10.982 24.7471L8.42761 21.9431L25.5858 3.10857C26.1437 2.49616 27.0482 2.49616 27.6061 3.10857L28.1402 3.69485Z' fill='%23F85858'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__data {
    width: 580px;
    padding: 15px 0 3px;
    display: flex;
    flex-direction: column;

    &--coming {
      width: 60%;
      padding: 0 60px 0 0;
    }
  }

  &__header {
    display: flex;
    font-family: Cuprum, sans-serif;
    font-style: normal;
    margin-bottom: 38px;

    &--coming {
      margin-bottom: 5px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 36px;
    color: $color-white;
    margin-right: 16px;
  }

  &__release-info {
    font-family: Cuprum, sans-serif;
    font-weight: 700;
    font-size: 72px;
  }

  &__rating {
    @include flex-v-center;

    &-val {
      display: inline-block;
      margin-top: 5px;
      font-weight: 700;
      font-size: 24px;
      color: $color-white;
    }

    &-star {
      width: 25px;
      height: 25px;
      margin-left: 8px;
      fill: $color-yellow;
    }
  }

  &__price {
    margin-top: 24px;
    display: flex;
    line-height: 1;

    &--coming {
      margin: 18px 0 0 0;
    }

    &-text {
      font-family: Cuprum, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      align-self: flex-end;
    }

    &-val {
      font-size: 48px;
      font-weight: 500;
      margin: 0 22px 0 10px;
    }

    &-val-old {
      height: max-content;
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0.065em;
      color: #818181;
      position: relative;

      &:before {
        content: "";
        width: 100%;
        height: 1.5px;
        background: $color-white;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        transform: rotate(-16deg);
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    margin-top: auto;

    &--coming {
      flex-grow: 1;
    }
  }

  &__btn {
    width: 50%;
    padding: 16px 15px;
    font-family: Gotham Pro, sans-serif;
    font-weight: 500;
    font-size: 22px;

    &--more {
      margin-right: 11px;
    }
  }

  &__label {
    position: absolute;
    top: 14px;
    left: 14px;
    padding: 7px 18px;
    font-family: Cuprum, sans-serif;
    font-weight: 600;
    font-size: 14px;

    &--new {
      color: $color-black;
      background: $color-white;
      border-radius: 15px;
    }
  }

  &__likes {
    position: absolute;
    right: 14px;
    top: 14px;
    @include flex-v-center;

    &-icon {
      width: 28px;
      height: 28px;
      fill: $color-white;
      margin-right: 9px;
    }

    &-count {
      font-family: Cuprum, sans-serif;
      font-weight: 400;
      font-size: 22px;
    }
  }
}
