.custom-checkbox {
  $transition: 200ms linear;
  cursor: pointer;

  input[type=checkbox] {
    appearance: none;
    position: absolute;
    display: block;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;

    &:checked {
      & ~ .custom-checkbox__inner .custom-checkbox__icon:before {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &__inner {

    &--inline {
      @include flex-v-center;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid $color-black;
    border-radius: 3px;
    transition: $transition;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      inset: 0 -4px 0 -3px;
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='18' viewBox='0 0 25 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.06043 7.18844C1.64622 6.60265 2.59597 6.60265 3.18175 7.18844L11.0811 15.0878L8.95977 17.2091L1.06043 9.30976C0.474646 8.72397 0.474647 7.77422 1.06043 7.18844Z' fill='%23F85858'/%3E%3Cpath d='M23.1483 1.06065C23.7341 1.64643 23.7341 2.59618 23.1483 3.18197L9.12117 17.2091L6.99985 15.0878L21.027 1.06065C21.6128 0.47486 22.5625 0.474861 23.1483 1.06065Z' fill='%23F85858'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: 25px;
      background-position: center center;
      transform: scale(1.1);
      transition: $transition;
      opacity: 0;
    }
  }

  &__icon--yellow {
    border: 1px solid #444444;

    &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='18' viewBox='0 0 25 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.06043 7.18835C1.64622 6.60256 2.59597 6.60256 3.18175 7.18835L11.0811 15.0877L8.95977 17.209L1.06043 9.30967C0.474646 8.72388 0.474647 7.77413 1.06043 7.18835Z' fill='%23F8CA58'/%3E%3Cpath d='M23.1483 1.06068C23.7341 1.64646 23.7341 2.59621 23.1483 3.182L9.12117 17.2092L6.99985 15.0878L21.027 1.06068C21.6128 0.474891 22.5625 0.474891 23.1483 1.06068Z' fill='%23F8CA58'/%3E%3C/svg%3E%0A");
    }
  }

  &__text {
    font-family: Cuprum, sans-serif;
    font-size: 14px;
    color: #717171;

    a {
      color: #717171;
    }

    &--inline {
      margin-left: 15px;
    }
  }
}
