.tabs {

  &__nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;

    &--catalog {
      @include media-max(767.98) {
        justify-content: center;
        padding-bottom: 20px;
      }
    }
  }

  &__nav-btn {
    white-space: nowrap;
    //flex-grow: 1;
    max-width: 300px;
    background: $color-white;
    border-radius: 15px;
    padding: 10px 35px;
    margin: 0 4px 10px;
    font-family: Cuprum, sans-serif;
    font-size: 18px;
    color: $color-black;
    transition: $transition;

    @include media-max(768) {
      display: none;
    }

    &:hover {
      @include hover-btn-darken($color-white);
    }

    &--mob {
      @include media-max(767.98) {
        display: block;
      }
    }
  }
}
