<div class="about">
  <div class="container container--mob-full">
    <div class="about__inner">
      <div class="about__left">
        <div class="block-title about__title">О компании</div>
        <div class="about__desc">
          <span class="color-yellow">ICANNYC</span> - одна из лучших образовательных платформ на рынке.
          В нашей команде все преподаватели - эксперты в своей области. Мы всегда нацелены на результат наших учеников,
          так как считаем что это самое важное что может получить обучающийся в нашей платформе
        </div>
        <a class="more about__more" href="#">
          <span class="more__text more__text--underline">Подробнее</span>
          <svg class="more__arrow">
            <use xlink:href="img/sprite.svg#arrow-v2"></use>
          </svg>
        </a>
      </div>
      <div class="about__right">
        <div class="video">
          <button class="btn video__btn video__btn--play"></button>
        </div>
      </div>
    </div>
  </div>
</div>
