<div class="advantages">
  <div class="container">
    <div class="block-title block-title--sm block-title--black advantages__title">
      Зачем проходить наши курсы?
    </div>
    <div class="advantages__list">
      <div class="advantage-item">
        <div class="advantage-item__inner">
          <div class="advantage-item__icon-wrapper">
            <img class="advantage-item__icon" src="img/advantages/1.png" alt="">
          </div>
          <div class="advantage-item__title">
            Постоянная поддержка
          </div>
          <div class="advantage-item__text">
            При покупке курса у нас, ты получишь качественную поддержку в нашем telegram
            канале
          </div>
        </div>
      </div>

      <div class="advantage-item">
        <div class="advantage-item__inner">
          <div class="advantage-item__icon-wrapper">
            <img class="advantage-item__icon" src="img/advantages/2.png" alt="">
          </div>
          <div class="advantage-item__title">
            Главное резултат!
          </div>
          <div class="advantage-item__text">
            Важно понимать что все онлайн курсы должны быть нацелены на результат
            обучающихся. В нашей платформе результат это самое главное!
          </div>
        </div>
      </div>

      <div class="advantage-item">
        <div class="advantage-item__inner">
          <div class="advantage-item__icon-wrapper">
            <img class="advantage-item__icon" src="img/advantages/3.png" alt="">
          </div>
          <div class="advantage-item__title">
            Шанс выиграть $5000 и работу в New York
          </div>
          <div class="advantage-item__text">
            После покупки курса ты автоматически участвуешь в розыгрыше подробности
            которого ты найдёшь <a class="color-red text-underline" href="#">тут</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
