<div class="buy-courses">
  <div class="container buy-courses__container">
    <div class="buy-courses__header">
      <div class="block-title block-title--md buy-courses__title">
        Выбери интересные тебе темы
      </div>
      <div class="buy-courses__subtitle">
        Сделай выбор уже сейчас и учавствуй в <a class="color-yellow text-underline" href="#" style="font-size: 24px">конкурсе</a>
      </div>
    </div>
    <div class="courses-picker">
      <label class="courses-picker__card custom-checkbox" for="courses-picker-card1">
        <input type="checkbox" name="course1" id="courses-picker-card1"/>
        <div class="courses-picker__card-inner custom-checkbox__inner">
          <img class="courses-picker__card-icon" src="img/dj.png" alt="">
          <span class="courses-picker__card-title">Диджеинг</span>
          <span class="custom-checkbox__icon"></span>
        </div>
      </label>
      <label class="courses-picker__card custom-checkbox" for="courses-picker-card2">
        <input type="checkbox" name="course1" id="courses-picker-card2"/>
        <div class="courses-picker__card-inner custom-checkbox__inner">
          <img class="courses-picker__card-icon" src="img/dj.png" alt="">
          <span class="courses-picker__card-title">Диджеинг</span>
          <span class="custom-checkbox__icon"></span>
        </div>
      </label>
      <label class="courses-picker__card custom-checkbox" for="courses-picker-card3">
        <input type="checkbox" name="course1" id="courses-picker-card3"/>
        <div class="courses-picker__card-inner custom-checkbox__inner">
          <img class="courses-picker__card-icon" src="img/dj.png" alt="">
          <span class="courses-picker__card-title">Диджеинг</span>
          <span class="custom-checkbox__icon"></span>
        </div>
      </label>
      <label class="courses-picker__card custom-checkbox" for="courses-picker-card4">
        <input type="checkbox" name="course1" id="courses-picker-card4"/>
        <div class="courses-picker__card-inner custom-checkbox__inner">
          <img class="courses-picker__card-icon" src="img/dj.png" alt="">
          <span class="courses-picker__card-title">Диджеинг</span>
          <span class="custom-checkbox__icon"></span>
        </div>
      </label>

      <div class="courses-picker__card courses-picker__card--coming">
        <div class="courses-picker__card-inner custom-checkbox__inner">
          <img class="courses-picker__card-icon" src="img/dj.png" alt="">
          <span class="courses-picker__card-title">Диджеинг</span>
          <span class="courses-picker__card-coming">скоро</span>
        </div>
      </div>
      <div class="courses-picker__card courses-picker__card--coming">
        <div class="courses-picker__card-inner custom-checkbox__inner">
          <img class="courses-picker__card-icon" src="img/dj.png" alt="">
          <span class="courses-picker__card-title">Диджеинг</span>
          <span class="courses-picker__card-coming">скоро</span>
        </div>
      </div>
      <div class="courses-picker__card courses-picker__card--coming">
        <div class="courses-picker__card-inner custom-checkbox__inner">
          <img class="courses-picker__card-icon" src="img/dj.png" alt="">
          <span class="courses-picker__card-title">Диджеинг</span>
          <span class="courses-picker__card-coming">скоро</span>
        </div>
      </div>
      <div class="courses-picker__card courses-picker__card--coming">
        <div class="courses-picker__card-inner custom-checkbox__inner">
          <img class="courses-picker__card-icon" src="img/dj.png" alt="">
          <span class="courses-picker__card-title">Диджеинг</span>
          <span class="courses-picker__card-coming">скоро</span>
        </div>
      </div>
    </div>

    <div class="buy-advantages">
      <div class="buy-advantages__info">
        <div class="block-title block-title--md buy-advantages__title">
          Что получишь при покупке курса?
        </div>
        <div class="buy-advantages__advantages">
          <div class="buy-advantages__advantages-item">
            <svg class="buy-advantages__advantages-item-icon">
              <use xlink:href="img/sprite.svg#check"></use>
            </svg>
            <div class="buy-advantages__advantages-item-text">Шанс выграть $5000</div>
          </div>
          <div class="buy-advantages__advantages-item">
            <svg class="buy-advantages__advantages-item-icon">
              <use xlink:href="img/sprite.svg#check"></use>
            </svg>
            <div class="buy-advantages__advantages-item-text">Возможность работать в USA</div>
          </div>
          <div class="buy-advantages__advantages-item">
            <svg class="buy-advantages__advantages-item-icon">
              <use xlink:href="img/sprite.svg#check"></use>
            </svg>
            <div class="buy-advantages__advantages-item-text">Постоянную поддержку</div>
          </div>
        </div>

        <button class="more buy-advantages__more">
          <span class="more__text more__text--underline">Что я получу ещё?</span>
          <svg class="more__arrow">
            <use xlink:href="img/sprite.svg#arrow-v2"></use>
          </svg>
        </button>

        <button class="btn btn--default btn--red-dark buy-courses__btn js-open-modal" data-modal="conditions-modal">
          Подробнее о конкурсе
        </button>

        <div class="socials buy-advantages__socials">
          <a class="socials__link socials__link--hover-yellow" href="">
            <svg>
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
          <a class="socials__link socials__link--hover-yellow" href="">
            <svg>
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
          <a class="socials__link socials__link--hover-yellow" href="">
            <svg>
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
          <a class="socials__link socials__link--hover-yellow" href="">
            <svg>
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="buy-advantages__illustration">
        <img class="buy-advantages__illustration-img" src="img/buy-illustration-img.png" alt="">
        <div class="buy-advantages__illustration-brief">
          <div class="buy-advantages__illustration-title">ICCANNYC</div>
          <div class="buy-advantages__illustration-text">Образовательная <br> платфома</div>
        </div>
      </div>

    </div>

  </div>
</div>
