<div class="course-intro">
  <div class="container course-intro__container">
    <div class="course-intro__inner">
      <div class="course-card">
        <img class="course-card__preview" src="img/course-card/aoki.png" alt="">
        <img class="course-card__preview course-card__preview--mob" src="img/course-card/mob-bg.png" alt="">
        <div class="course-card__inner">
          <div class="course-card__data">
            <div class="course-card__header">
              <div class="course-card__name">Курс диджеинга</div>
              <div class="course-card__rating">
                <span class="course-card__rating-val">4.9</span>
                <svg class="course-card__rating-star">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
            </div>
            <div class="countdown course-card__countdown" data-date-end="2021-09-25T18:43:00">
              <div class="countdown__title course-card__countdown-title">
                До конца <span class="color-yellow">акции</span>!
              </div>
              <div class="countdown__wrapper">
                <div class="countdown__block" data-unit="hours">
                  <div class="countdown__item">
                    <span class="countdown__item-val">1</span>
                  </div>
                  <div class="countdown__item">
                    <span class="countdown__item-val">2</span>
                  </div>
                  <span class="countdown__unit-name">Часов</span>
                </div>
                <div class="countdown__spacer">:</div>
                <div class="countdown__block" data-unit="minutes">
                  <div class="countdown__item">
                    <span class="countdown__item-val">5</span>
                  </div>
                  <div class="countdown__item">
                    <span class="countdown__item-val">2</span>
                  </div>
                  <span class="countdown__unit-name">Минут</span>
                </div>
                <div class="countdown__spacer">:</div>
                <div class="countdown__block" data-unit="seconds">
                  <div class="countdown__item">
                    <span class="countdown__item-val">5</span>
                  </div>
                  <div class="countdown__item">
                    <span class="countdown__item-val">2</span>
                  </div>
                  <span class="countdown__unit-name">Секунд</span>
                </div>
              </div>
            </div>
            <div class="course-card__price">
              <span class="course-card__price-text color-red">Всего:</span>
              <span class="course-card__price-val">$28</span>
              <span class="course-card__price-val-old">$99</span>
            </div>
            <div class="course-card__action">
              <button class="btn btn--default btn--dark course-card__btn course-card__btn--more">
                Подробнее
              </button>
              <button class="btn btn--default btn--red-light course-card__btn course-card__btn--buy js-open-modal" data-modal="buying-form-modal">
                <span>Купить курс</span>
                <span class="course-card__btn-buy-price">28$</span>
              </button>
            </div>
          </div>
        </div>
        <div class="course-card__label course-card__label--new">
          Новое
        </div>
        <div class="course-card__likes">
          <svg class="course-card__likes-icon">
            <use xlink:href="img/sprite.svg#heart"></use>
          </svg>
          <span class="course-card__likes-count">146</span>
        </div>
      </div>
      <div class="course-intro__stat">
        <div class="course-intro__places">
          <div class="course-intro__places-block">
            <span class="course-intro__places-text">Всего мест:</span>
            <span class="course-intro__places-val">105</span>
          </div>
          <div class="course-intro__places-block">
            <span class="course-intro__places-sep">/</span>
            <span class="course-intro__places-text">Осталось мест:</span>
            <span class="course-intro__places-val">8</span>
          </div>
        </div>
        <div class="course-intro__purchased">
          <span class="courses-intro__purchased-val color-red">1937</span>
          <span class="courses-intro__purchased-text">человек купило!</span>
        </div>
      </div>
      <div class="block-title block-title--md course-intro__title">Что ты получишь купив курс?</div>
      <div class="course-intro__advantages">
        <div class="course-intro__advantages-list">
          <div class="course-intro__advantage-item">Шанс выграть $5000</div>
          <div class="course-intro__advantage-item">Возможность работать в USA</div>
          <div class="course-intro__advantage-item">Постоянную поддержку</div>
        </div>
        <div class="course-intro__advantages-list">
          <div class="course-intro__advantage-item">Финансовую независимость</div>
          <div class="course-intro__advantage-item">Знания в новой сфере</div>
          <div class="course-intro__advantage-item">Качественное обучение</div>
        </div>
        <div class="course-intro__advantages-list">
          <div class="course-intro__advantage-item">Повышение заработка</div>
          <div class="course-intro__advantage-item">Возможности</div>
          <div class="course-intro__advantage-item">Крутые знакомства</div>
        </div>
      </div>
      <button class="btn course-intro__btn-detail" aria-expanded="false">
        <span>Подробнее</span>
        <svg class="">
          <use xlink:href="img/sprite.svg#arrow-bottom"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="course-intro__collapse">
    <div class="course-intro__description">
      <div class="container course-intro__container">
        <div class="block-title block-title--sm block-title--black">Описание курса</div>
        <div class="course-intro__description-text">
          Et harum quidem rerum facilis est et expedita distinctio, nam libero tempore, cum soluta nobis est eligendi
          optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est,
          omnis dolor repellendus! Duis aute irure dolor in reprehenderit in voluptate, quis nostrum exercitationem
          ullam corporis suscipit laboriosam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Itaque earum rerum hic tenetur a sapiente delectus, nam libero tempore, cum soluta nobis est
          eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat,
        </div>
      </div>
    </div>
    <div class="speaker">
      <div class="container course-intro__container">
        <div class="speaker__inner">
          <div class="speaker__present">
            <img class="speaker__present-photo" src="/img/speaker.png" alt="">
            <div class="speaker__present-info">
              <span class="speaker__post color-yellow">Спикер</span>
              <span class="speaker__name">Иван Иванов</span>
            </div>
          </div>
          <div class="speaker__info">
            <div class="speaker__info-head">
              <span class="speaker__name speaker__name--mob-none">Иван Иванов</span>
              <div class="socials speaker__socials">
                <a class="socials__link socials__link--hover-yellow" href="">
                  <svg>
                    <use xlink:href="img/sprite.svg#instagram"></use>
                  </svg>
                </a>
                <a class="socials__link socials__link--hover-yellow" href="">
                  <svg>
                    <use xlink:href="img/sprite.svg#telegram"></use>
                  </svg>
                </a>
                <a class="socials__link socials__link--hover-yellow" href="">
                  <svg>
                    <use xlink:href="img/sprite.svg#whatsapp"></use>
                  </svg>
                </a>
                <a class="socials__link socials__link--hover-yellow" href="">
                  <svg>
                    <use xlink:href="img/sprite.svg#vk"></use>
                  </svg>
                </a>
              </div>
            </div>
            <span class="speaker__post speaker__post--red speaker__post--mob-none">Спикер</span>
            <div class="speaker__info-text">
              Et harum quidem rerum facilis est et expedita distinctio, nam libero tempore, cum soluta nobis est eligendi
              optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda
              est, omnis dolor repellendus! Duis aute irure dolor in reprehenderit in voluptate, quis nostrum
              exercitationem ullam corporis suscipit laboriosam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat. Itaque earum rerum hic tenetur a sapiente delectus, nam libero tempore, cum soluta
              nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat,
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
