<footer class="footer">
  <div class="container footer__container">
    <div class="footer__inner">
      <div class="footer__col footer__col--logo">
        <a class="logo" href="/">
          <img class="logo__img logo__img--footer" src="img/logo.svg" alt="">
        </a>
      </div>
      <div class="footer__col footer__col--nav">
        <div class="footer__nav footer__nav--double">
          <div class="footer__nav-title">Все категории</div>
          <div class="footer__nav-wrap">
            <ul class="footer__nav-list">
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Арт / Дизайн</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Программирование</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Проектирование</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Копирайт</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Музыка</a></li>
            </ul>
            <ul class="footer__nav-list footer__nav-list--space">
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Моушен дизайн</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Анимация</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Продакшен</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Бизнес</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">СММ / Маркетинг</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__nav footer__nav--info">
          <div class="footer__nav-title">Информация</div>
          <div class="footer__nav-wrap">
            <ul class="footer__nav-list">
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Политика конфиденциальности</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Информация о компании</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Контакты</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Правила пользования</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__col footer__col--mobile">
        <div class="footer__nav footer__nav--mob">
          <div class="footer__nav-block">
            <button class="btn footer__nav-btn">
              <span class="footer__nav-title footer__nav-title--mob">Все категории</span>
              <svg>
                <use xlink:href="img/sprite.svg#arrow-bottom"></use>
              </svg>
            </button>
            <ul class="footer__nav-list footer__nav-list--mob">
              <li class="footer__nav-item footer__nav-item--mob">
                <a class="footer__nav-link" href="">Арт / Дизайн</a>
              </li>
              <li class="footer__nav-item footer__nav-item--mob">
                <a class="footer__nav-link" href="">Программирование</a>
              </li>
              <li class="footer__nav-item footer__nav-item--mob">
                <a class="footer__nav-link" href="">Проектирование</a>
              </li>
              <li class="footer__nav-item footer__nav-item--mob">
                <a class="footer__nav-link" href="">Копирайт</a>
              </li>
              <li class="footer__nav-item footer__nav-item--mob">
                <a class="footer__nav-link" href="">Музыка</a>
              </li>
            </ul>
          </div>
          <div class="footer__nav-block">
            <button class="btn footer__nav-btn">
              <span class="footer__nav-title footer__nav-title--mob">Информация</span>
              <svg>
                <use xlink:href="img/sprite.svg#arrow-bottom"></use>
              </svg>
            </button>
            <ul class="footer__nav-list footer__nav-list--mob">
              <li class="footer__nav-item footer__nav-item--mob">
                <a class="footer__nav-link" href="">Политика конфиденциальности</a>
              </li>
              <li class="footer__nav-item footer__nav-item--mob">
                <a class="footer__nav-link" href="">Информация о компании</a>
              </li>
              <li class="footer__nav-item footer__nav-item--mob">
                <a class="footer__nav-link" href="">Контакты</a>
              </li>
              <li class="footer__nav-item footer__nav-item--mob">
                <a class="footer__nav-link" href="">Правила пользования</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__col footer__col--socials">
        <div class="created-by">
          Создано в <a class="color-yellow" href="#" target="_blank">Klishin Agency</a>
        </div>
        <div class="socials footer__socials">
          <div class="socials__text">
            Мы в социальных сетях
          </div>
          <div class="socials__list">
            <a class="socials__link socials__link--hover-yellow" href="#">
              <svg>
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
            <a class="socials__link socials__link--hover-yellow" href="#">
              <svg>
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
            <a class="socials__link socials__link--hover-yellow" href="#">
              <svg>
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
            <a class="socials__link socials__link--hover-yellow" href="#">
              <svg>
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
