<header class="header header--home">
  <div class="container container--header">
    <div class="header__inner">
      <div class="header__left">
        <a class="logo header__logo">
          <img class="header__logo-img" src="img/logo.svg" alt="">
        </a>
      </div>
      <div class="header__right">
        <nav class="nav header__nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#">
                Все курсы
                <svg class="nav__item-arrow">
                  <use xlink:href="img/sprite.svg#arrow-bottom"></use>
                </svg>
              </a>
            </li>
            <li class="nav__item"><a class="nav__link" href="#">Конкурс</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Контакты</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Поиск</a></li>
          </ul>
        </nav>

        <div class="player">
          <button class="btn player__btn">
            <svg class="player__btn-icon">
            <use xlink:href="img/sprite.svg#pause"></use>
            </svg>
          </button>
          <span class="player__name">
            Alicia Keys - New York...
          </span>
        </div>

        <div class="language header__language">
          <div class="language__box">
            <button class="btn language__btn">
              <span class="language__active-name">RU</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
