<div class="hero">
  <div class="hero-intro">
    <div class="container hero-intro__container">
      <h1 class="hero-intro__title">
        <span class="typed"></span>
        <span id="typed-cursor">|</span>
      </h1>
      <div class="hero-intro__buy">
        <button class="btn btn--default btn--yellow btn--blinking hero-intro__btn">
          <span>Купить курс от $28</span>
        </button>
        <span class="hero-intro__hint">Количество продаж ограничено</span>
      </div>
    </div>
  </div>
  <div class="hero-bottom">
    <div class="hero-bottom__left hero-team">
      <img class="hero-team__photo" src="img/hero/hero-team1.png" alt="">
      <img class="hero-team__photo" src="img/hero/hero-team2.png" alt="">
      <img class="hero-team__photo" src="img/hero/hero-team3.png" alt="">
      <img class="hero-team__photo" src="img/hero/hero-team4.png" alt="">
      <img class="hero-team__photo" src="img/hero/hero-team5.png" alt="">
      <img class="hero-team__photo" src="img/hero/hero-team6.png" alt="">
      <img class="hero-team__photo" src="img/hero/hero-team7.png" alt="">
    </div>
    <div class="hero-bottom__right">
      <div class="hero-stat">
        <div class="hero-stat__item">
          <div
            class="hero-stat__item-title">1955+</div>
          <div class="hero-stat__item-subtitle">Человек купили курсы</div>
        </div>
        <div class="hero-stat__item">
          <div class="hero-stat__item-title">40+</div>
          <div class="hero-stat__item-subtitle">Опытных спикеров</div>
        </div>
        <div class="hero-stat__item">
          <div class="hero-stat__item-title">35+</div>
          <div class="hero-stat__item-subtitle">Разных курсов</div>
        </div>
      </div>
      <div class="hero-mail">
        <div class="hero-mail__title">Подпишись на рассылку чтобы не пропустить важные новости!</div>
        <form action="" class="hero-mail__form">
          <input class="input input--default input--bg-dark hero-mail__form-input" type="email"
                 placeholder="Введите E-mail">
          <button class="btn btn--default btn--yellow btn--center hero-mail__form-btn">
            Быть в курсе событий
          </button>
          <label class="custom-checkbox" for="support-mail">
            <input type="checkbox" name="mail-chimp" id="support-mail">
            <div class="custom-checkbox__inner custom-checkbox__inner--inline">
              <span class="custom-checkbox__icon custom-checkbox__icon--red"></span>
              <span class="custom-checkbox__text custom-checkbox__text--inline">
                Я принимаю <a class="text-underline" href="#">политику</a> конфиденциальности сайта
              </span>
            </div>
          </label>
        </form>
      </div>
      <div class="socials hero__socials">
        <a class="socials__link" href="">
          <svg>
            <use xlink:href="img/sprite.svg#instagram"></use>
          </svg>
        </a>
        <a class="socials__link" href="">
          <svg>
            <use xlink:href="img/sprite.svg#telegram"></use>
          </svg>
        </a>
        <a class="socials__link" href="">
          <svg>
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
        <a class="socials__link" href="">
          <svg>
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
