<!-- Conditions modal -->
<div class="modal" id="conditions-modal" aria-hidden="true">
  <div class="modal__overlay">
    <div class="modal__container modal__container--text">
      <button class="btn modal__btn-close">
        <svg>
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
      <div class="modal__content">
        <div class="contest-rules">
          <div class="contest-rules">
            <h2 class="contest-rules__title">
              УСЛОВИЯ КОНКУРСА НА <span class="color-yellow">5.000</span>$ или <span class="color-yellow">РАБОТУ</span>
              В ГОРОДЕ НЬЮ-ЙОРК
            </h2>
            <div class="contest-rules__text">
              Для полного погружение в учебный материал студентам купившим курс объявляется конкурс с одинаковыми
              условиями. Задача конкурса в том, что бы всего учебного периода домашние задания студента были на прямую
              привязаны к конкурсу. <span class="color-yellow">ПО ОКОНЧАНИЮ УЧЕБНОГО КУРСА, СТУДЕНТ ОБЯЗАН БУДЕТ НАПИСАТЬ ИЛИ ЗАПИСАТЬ (АУДИО,
              ВИДЕО) ЭССЕ. ТЕМА ЭССЕ И СТАНДАРТЫ ЭССЕ БУДУТ РАЗЛИЧАТЬСЯ В ЗАВИСИМОСТИ ОТ ТЕМЫ УЧЕБНОГО МАТЕРИАЛА.</span>
              <br><br>
              Победитель гранта должен записать видео или сделать пост в своих соц сетях о своём выигрыше. Студенты
              которые лучше всего справятся с домашними заданиями и ЭССЕ получать шанс выиграть 10.000$ или работу в
              городе Нью-Йорк,США. Учебный курсы может длится от 3 до 5 недель в зависимости от тех навыков, которые
              хочет изучить студент. Возраст студентов от 14 лет.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Conditions modal end -->
