<div class="relevant-courses">
  <div class="container relevant-courses__container">
    <div class="relevant-courses__header">
      <div class="block-title block-title--md">
        Мы подобрали курсы <span class="color-yellow">специально для тебя</span>!
      </div>
      <a class="more relevant-courses__more" href="#">
        <span class="more__text">Смотреть все</span>
        <svg class="more__arrow">
          <use xlink:href="img/sprite.svg#arrow-v2"></use>
        </svg>
      </a>
    </div>
    <div class="course-card">
      <img class="course-card__preview" src="img/course-card/aoki.png" alt="">
      <div class="course-card__inner">
        <div class="course-card__data">
          <div class="course-card__header">
            <div class="course-card__name">Курс диджеинга</div>
            <div class="course-card__rating">
              <span class="course-card__rating-val">4.9</span>
              <svg class="course-card__rating-star">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
          </div>
          <div class="countdown course-card__countdown" data-date-end="2021-09-15T18:43:00">
            <div class="countdown__title course-card__countdown-title">
              До конца <span class="color-yellow">акции</span>!
            </div>
            <div class="countdown__wrapper">
              <div class="countdown__block" data-unit="hours">
                <div class="countdown__item">
                  <span class="countdown__item-val">1</span>
                </div>
                <div class="countdown__item">
                  <span class="countdown__item-val">2</span>
                </div>
                <span class="countdown__unit-name">Часов</span>
              </div>
              <div class="countdown__spacer">:</div>
              <div class="countdown__block" data-unit="minutes">
                <div class="countdown__item">
                  <span class="countdown__item-val">5</span>
                </div>
                <div class="countdown__item">
                  <span class="countdown__item-val">2</span>
                </div>
                <span class="countdown__unit-name">Минут</span>
              </div>
              <div class="countdown__spacer">:</div>
              <div class="countdown__block" data-unit="seconds">
                <div class="countdown__item">
                  <span class="countdown__item-val">5</span>
                </div>
                <div class="countdown__item">
                  <span class="countdown__item-val">2</span>
                </div>
                <span class="countdown__unit-name">Секунд</span>
              </div>
            </div>
          </div>
          <div class="course-card__price">
            <span class="course-card__price-text color-red">Всего:</span>
            <span class="course-card__price-val">$28</span>
            <span class="course-card__price-val-old">$99</span>
          </div>
          <div class="course-card__action">
            <button class="btn btn--default btn--dark course-card__btn course-card__btn--more">
              Подробнее
            </button>
            <button class="btn btn--default btn--red-light course-card__btn">
              Купить курс
            </button>
          </div>
        </div>
      </div>
      <div class="course-card__label course-card__label--new">
        Новое
      </div>
      <div class="course-card__likes">
        <svg class="course-card__likes-icon">
          <use xlink:href="img/sprite.svg#heart"></use>
        </svg>
        <span class="course-card__likes-count">146</span>
      </div>
    </div>
    <div class="course-card">
      <img class="course-card__preview" src="img/course-card/aoki.png" alt="">
      <div class="course-card__inner">
        <div class="course-card__data">
          <div class="course-card__header">
            <div class="course-card__name">Курс диджеинга</div>
            <div class="course-card__rating">
              <span class="course-card__rating-val">4.9</span>
              <svg class="course-card__rating-star">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>
          </div>
          <div class="countdown course-card__countdown" data-date-end="2021-09-17T21:00:00">
            <div class="countdown__title course-card__countdown-title">
              До конца <span class="color-yellow">акции</span>!
            </div>
            <div class="countdown__wrapper">
              <div class="countdown__block" data-unit="hours">
                <div class="countdown__item">
                  <span class="countdown__item-val">1</span>
                </div>
                <div class="countdown__item">
                  <span class="countdown__item-val">2</span>
                </div>
                <span class="countdown__unit-name">Часов</span>
              </div>
              <div class="countdown__spacer">:</div>
              <div class="countdown__block" data-unit="minutes">
                <div class="countdown__item">
                  <span class="countdown__item-val">5</span>
                </div>
                <div class="countdown__item">
                  <span class="countdown__item-val">2</span>
                </div>
                <span class="countdown__unit-name">Минут</span>
              </div>
              <div class="countdown__spacer">:</div>
              <div class="countdown__block" data-unit="seconds">
                <div class="countdown__item">
                  <span class="countdown__item-val">5</span>
                </div>
                <div class="countdown__item">
                  <span class="countdown__item-val">2</span>
                </div>
                <span class="countdown__unit-name">Секунд</span>
              </div>
            </div>
          </div>
          <div class="course-card__price">
            <span class="course-card__price-text color-red">Всего:</span>
            <span class="course-card__price-val">$28</span>
            <span class="course-card__price-val-old">$99</span>
          </div>
          <div class="course-card__action">
            <button class="btn btn--default btn--dark course-card__btn course-card__btn--more">
              Подробнее
            </button>
            <button class="btn btn--default btn--red-light course-card__btn">
              Купить курс
            </button>
          </div>
        </div>
      </div>
      <div class="course-card__label course-card__label--new">
        Новое
      </div>
      <div class="course-card__likes">
        <svg class="course-card__likes-icon">
          <use xlink:href="img/sprite.svg#heart"></use>
        </svg>
        <span class="course-card__likes-count">146</span>
      </div>
    </div>
    <div class="course-card course-card--coming">
      <img class="course-card__preview" src="img/course-card/aoki.png" alt="">
      <div class="course-card__inner course-card__inner--coming">
        <div class="course-card__data course-card__data--coming">
          <div class="course-card__header course-card__header--coming">
            <div class="course-card__name">Курс диджеинга</div>
          </div>
          <div class="course-card__release-info">СКОРО В ПРОДАЖЕ</div>
          <div class="course-card__price course-card__price--coming">
            <span class="course-card__price-val">$28</span>
          </div>
        </div>
        <div class="course-card__action course-card__action--coming">
          <button class="btn btn--default btn--yellow course-card__btn">
            Скоро в продаже
          </button>
        </div>
      </div>
      <div class="course-card__label course-card__label--new">
        Новое
      </div>
      <div class="course-card__likes">
        <svg class="course-card__likes-icon">
          <use xlink:href="img/sprite.svg#heart"></use>
        </svg>
        <span class="course-card__likes-count">146</span>
      </div>
    </div>
  </div>
  <div class="relevant-courses__stat">
    <div class="container relevant-courses__stat-container">
      <div class="relevant-courses__stat-inner">
        <div class="relevant-courses__stat-item">
          <div class="relevant-courses__stat-item-title">1955+</div>
          <div class="relevant-courses__stat-item-subtitle">Человек купили курсы</div>
        </div>
        <div class="relevant-courses__stat-item">
          <div class="relevant-courses__stat-item-title">40+</div>
          <div class="relevant-courses__stat-item-subtitle">Опытных спикеров</div>
        </div>
        <div class="relevant-courses__stat-item">
          <div class="relevant-courses__stat-item-title">35+</div>
          <div class="relevant-courses__stat-item-subtitle">Разных курсов</div>
        </div>
      </div>
    </div>
  </div>
  <div class="relevant-courses__footer">
    <div class="relevant-courses__mail">
      <div class="relevant-courses__mail-title">
        ПОДПИШИСЬ НА РАССЫЛКУ
      </div>
      <form class="mail-chimp" action="">
        <div class="mail-chimp__header">
          <div class="mail-chimp__hint">Будь в курсе всех новостей и новых продуктов</div>
          <label class="custom-checkbox" for="mail-chimp">
            <input type="checkbox" name="mail-chimp" id="mail-chimp">
            <div class="custom-checkbox__inner custom-checkbox__inner--inline">
              <span class="custom-checkbox__icon custom-checkbox__icon--yellow"></span>
              <span class="custom-checkbox__text custom-checkbox__text--inline">
                Я принимаю <a class="text-underline" href="#">политику</a> конфиденциальности сайта
              </span>
            </div>
          </label>
        </div>
        <div class="mail-chimp__form-group relevant-courses__form-group">
          <input class="input input--default input--bg-dark mail-chimp__input relevant-courses__mail-input" type="text"
                 placeholder="Введите имя">
          <input class="input input--default input--bg-dark mail-chimp__input relevant-courses__mail-input" type="email"
                 placeholder="Введите E-mail">
          <button class="btn btn--default btn--yellow btn--center relevant-courses__mail-btn">
            Быть в курсе событий
          </button>
        </div>
      </form>
    </div>
    <div class="relevant-courses__team-wrap">
      <div class="relevant-courses__team">
        <img class="relevant-courses__team-photo" src="img/hero/hero-team1.png" alt="">
        <img class="relevant-courses__team-photo" src="img/hero/hero-team2.png" alt="">
        <img class="relevant-courses__team-photo" src="img/hero/hero-team3.png" alt="">
        <img class="relevant-courses__team-photo" src="img/hero/hero-team4.png" alt="">
      </div>
    </div>
  </div>
</div>
