<div class="reviews">
  <div class="container reviews__container">
    <div class="block-title block-title--space reviews__title">
      <span class="color-yellow">Отзывы</span> о наших курсах
    </div>
    <div class="reviews__note">
      <div class="reviews__subtitle">Читай отывы о наших курсах и спикерах!</div>
      <div class="reviews__more">
        <div class="reviews__more-text">Смотрите так же отзывы в:</div>
        <a class="reviews__more-link" href="#" target="_blank">
          <svg class="reviews__more-icon reviews__more-icon--inst">
            <use xlink:href="img/sprite.svg#instagram"></use>
          </svg>
        </a>
        <a class="reviews__more-link" href="#" target="_blank">
          <svg class="reviews__more-icon reviews__more-icon--vk">
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="reviews-slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide reviews-slider__slide">
            <div class="review-card">
              <div class="review-card__header">
                <img class="review-card__ava" src="img/ava.png" alt="">
                <div class="review-card__info">
                  <div class="review-card__name">Иван Иванов</div>
                  <div class="review-card__row">
                    <span class="review-card__city">г. Москва</span>
                    <span class="review-card__age">32 года</span>
                  </div>
                  <div class="star-rating review-card__rating">
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                  </div>
                  <div class="review-card__course-name">
                    Курс графического дизайна
                  </div>
                </div>
              </div>
              <div class="review-card__body">
                Et harum quidem rerum facilis est et expedita distinctio, nam libero tempore, cum soluta nobis est
                eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas
                assumenda est, omnis dolor repellendus! Duis aute irure dolor in reprehenderit in voluptate, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Itaque earum rerum hic tenetur a sapiente delectus, nam libero
              </div>
            </div>
          </div>
          <div class="swiper-slide reviews-slider__slide">
            <div class="review-card">
              <div class="review-card__header">
                <img class="review-card__ava" src="img/ava.png" alt="">
                <div class="review-card__info">
                  <div class="review-card__name">Иван Иванов</div>
                  <div class="review-card__row">
                    <span class="review-card__city">г. Москва</span>
                    <span class="review-card__age">32 года</span>
                  </div>
                  <div class="star-rating review-card__rating">
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                  </div>
                  <div class="review-card__course-name">
                    Курс графического дизайна
                  </div>
                </div>
              </div>
              <div class="review-card__body">
                Et harum quidem rerum facilis est et expedita distinctio, nam libero tempore, cum soluta nobis est
                eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas
                assumenda est, omnis dolor repellendus! Duis aute irure dolor in reprehenderit in voluptate, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Itaque earum rerum hic tenetur a sapiente delectus, nam libero
              </div>
            </div>
          </div>
          <div class="swiper-slide reviews-slider__slide">
            <div class="review-card">
              <div class="review-card__header">
                <img class="review-card__ava" src="img/ava.png" alt="">
                <div class="review-card__info">
                  <div class="review-card__name">Иван Иванов</div>
                  <div class="review-card__row">
                    <span class="review-card__city">г. Москва</span>
                    <span class="review-card__age">32 года</span>
                  </div>
                  <div class="star-rating review-card__rating">
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                  </div>
                  <div class="review-card__course-name">
                    Курс графического дизайна
                  </div>
                </div>
              </div>
              <div class="review-card__body">
                Et harum quidem rerum facilis est et expedita distinctio, nam libero tempore, cum soluta nobis est
                eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas
                assumenda est, omnis dolor repellendus! Duis aute irure dolor in reprehenderit in voluptate, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Itaque earum rerum hic tenetur a sapiente delectus, nam libero
              </div>
            </div>
          </div>
          <div class="swiper-slide reviews-slider__slide">
            <div class="review-card">
              <div class="review-card__header">
                <img class="review-card__ava" src="img/ava.png" alt="">
                <div class="review-card__info">
                  <div class="review-card__name">Иван Иванов</div>
                  <div class="review-card__row">
                    <span class="review-card__city">г. Москва</span>
                    <span class="review-card__age">32 года</span>
                  </div>
                  <div class="star-rating review-card__rating">
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                  </div>
                  <div class="review-card__course-name">
                    Курс графического дизайна
                  </div>
                </div>
              </div>
              <div class="review-card__body">
                Et harum quidem rerum facilis est et expedita distinctio, nam libero tempore, cum soluta nobis est
                eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas
                assumenda est, omnis dolor repellendus! Duis aute irure dolor in reprehenderit in voluptate, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Itaque earum rerum hic tenetur a sapiente delectus, nam libero
              </div>
            </div>
          </div>
          <div class="swiper-slide reviews-slider__slide">
            <div class="review-card">
              <div class="review-card__header">
                <img class="review-card__ava" src="img/ava.png" alt="">
                <div class="review-card__info">
                  <div class="review-card__name">Иван Иванов</div>
                  <div class="review-card__row">
                    <span class="review-card__city">г. Москва</span>
                    <span class="review-card__age">32 года</span>
                  </div>
                  <div class="star-rating review-card__rating">
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                    <span class="star-rating__item">★</span>
                  </div>
                  <div class="review-card__course-name">
                    Курс графического дизайна
                  </div>
                </div>
              </div>
              <div class="review-card__body">
                Et harum quidem rerum facilis est et expedita distinctio, nam libero tempore, cum soluta nobis est
                eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas
                assumenda est, omnis dolor repellendus! Duis aute irure dolor in reprehenderit in voluptate, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Itaque earum rerum hic tenetur a sapiente delectus, nam libero
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-slider__btn reviews-slider__btn--prev">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-left"></use>
        </svg>
      </div>
      <div class="reviews-slider__btn reviews-slider__btn--next">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-left"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="reviews__slide-hint">
    <span>Листайте вправо</span>
    <img class="" src="img/swipe.png" alt="">
  </div>
</div>
