<div class="stages">
  <div class="container stages__container">
    <h2 class="block-title block-title--md stages__title">Как проходят курсы <span class="title-accent">ICANNYC ?</span></h2>
    <div class="stages__inner">
      <div class="stages__left">
        <div class="stages__list">
          <div class="stages__item">
            <div class="stages__item-count">
              <div class="stages__item-count-val">1</div>
            </div>
            <div class="stages__item-info">
              <div class="stages__item-title">Выбор курса</div>
              <div class="stages__item-text">
                Первым шагом, для начала изучения нового материала стоит выбор. Необходимо
                выбрать интересующую Вас сферу или конкретный курс. Как это сделать, можно посмотреть
                <a class="color-yellow text-underline" href="#">тут</a>
              </div>
            </div>
          </div>
          <div class="stages__item">
            <div class="stages__item-count">
              <div class="stages__item-count-val">2</div>
            </div>
            <div class="stages__item-info">
              <div class="stages__item-title">Покупка курса</div>
              <div class="stages__item-text">
                После того как Вы определились с интересующим Вас курсом, заполняете форму заказа (необходимые
                контактные) и оплачиваете курс любым из удобных способов оплаты
              </div>
            </div>
          </div>
          <div class="stages__item">
            <div class="stages__item-count">
              <div class="stages__item-count-val">3</div>
            </div>
            <div class="stages__item-info">
              <div class="stages__item-title">Получение доступа к курсу</div>
              <div class="stages__item-text">
                После оплаты выбранного Вами курса, на указанный Вами адрес электронной почты мы отправим ссылку с
                открытым доступом к купленному Вами курсу
              </div>
            </div>
          </div>
          <div class="stages__item">
            <div class="stages__item-count stages__item-count--last">
              <div class="stages__item-count-val">4</div>
            </div>
            <div class="stages__item-info">
              <div class="stages__item-title">Прохождение курса</div>
              <div class="stages__item-text">
                Перейдя по ссылке, Вы сможете начать прохождение желанного курса! Для публикации курсов Мы используем
                сервис “Google class”
              </div>
            </div>
          </div>
        </div>
        <div class="stages__contest-text stages__contest-text--mob">
          После покупки курса вы сможете учавствовать в <a class="stages__contest-link" href="">конкурсе!</a>
        </div>
      </div>
      <div class="stages__right">
        <div class="stages__present">
          <div class="stages__present-title">
            Шанс выиграть $5000 и работу в New York
          </div>
          <button class="btn btn--default btn--red-dark">
            Купить курс
          </button>
        </div>
      </div>
      <div class="stages__contest-text">
        После покупки курса вы сможете учавствовать в <a class="stages__contest-link" href="">конкурсе!</a>
      </div>
    </div>
  </div>
</div>
