<div class="support">
  <div class="container support__container">
    <div class="support__inner">
      <div class="support__info">
        <div class="block-title block-title--md block-title--black support__title">
          Поддержка на всех этапах прохождения курса
        </div>
        <div class="support__subtitle">
          При покупке курса у нас, ты получишь качественную поддержку в нашем telegram канале
        </div>
        <div class="support__info-btns">
          <button class="btn btn--red-dark btn--icon support__info-btn">
            <span>Перейти в наш telegram канал</span>
            <svg>
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </button>
          <button class="btn btn--yellow btn--center support__info-btn js-open-support">
            Подписаться на e-mail рассылку
          </button>
        </div>
      </div>
      <div class="support__form-wrap">
        <div class="support__form-bg">
          <form class="support__form" action="">
            <div class="support__form-title">Подписаться на рассылку</div>
            <input class="input input--default support__form-input" type="text" placeholder="Введите имя">
            <input class="input input--default support__form-input" type="email" placeholder="Введите E-mail">
            <button class="btn btn--default btn--red-dark btn--center support__form-btn">
              Быть в курсе событий
            </button>
            <label class="custom-checkbox" for="support-mail1">
              <input type="checkbox" name="mail-chimp" id="support-mail1">
              <div class="custom-checkbox__inner custom-checkbox__inner--inline">
                <span class="custom-checkbox__icon custom-checkbox__icon--red"></span>
                <span class="custom-checkbox__text custom-checkbox__text--inline">
                Я принимаю <a class="text-underline" href="#">политику</a> конфиденциальности сайта
              </span>
              </div>
            </label>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
