html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  @include tablet {
    -webkit-tap-highlight-color: transparent;
  }
}

body {
  margin: 0;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: $color-white;
  background-color: $color-black;
  //overflow-x: hidden;

  @include media-max(1240) {
    font-size: 18px;
  }

  @include media-max(992) {
    font-size: 16px;
  }

  @include media-max(767.98) {
    font-size: 14px;
  }

  &.body-lock {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
  }

  &.hide-scroll {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input,
textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p, li, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg {
  fill: $color-white
}

.site-container {
  width: 100%;
  overflow-x: hidden;
  //background-color: $color-black;
}

.is-hidden {
  display: none !important;
}

.error {
  border: 2px #ff4019 solid !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.block-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 122.7%;
  color: $color-white;

  @include media-max(1240) {
    font-size: 40px;
  }

  @include media-max(767.98) {
    font-size: 24px;
  }

  &--md {
    font-size: 40px;

    @include media-max(1240) {
      font-size: 30px;
    }

    @include media-max(767.98) {
      font-size: 24px;
    }
  }

  &--sm {
    font-size: 36px;

    @include media-max(1240) {
      font-size: 26px;
    }

    @include media-max(767.98) {
      font-size: 24px;
    }
  }

  &--black {
    color: $color-black;
  }

  &--space {
    margin-left: 28px;

    @include media-max(767.98) {
      margin-left: 0;
    }
  }
}

.color-yellow {
  color: $color-yellow
}

.color-red {
  color: $color-red-light
}

.text-underline {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.page-bgtop {
  background: url("../img/page-top-bg.png") no-repeat center top;
  background-size: contain;

  @include media-max(767.98) {
    background: url("../img/page-top-bg-mob.png") no-repeat center top;
    background-size: contain;
  }
}
