// COLORS
$color-yellow: #F8CA58;
$color-red-light: #F85858;
$color-red-dark: #EA3A3A;
$color-black: #000000;
$color-white: #ffffff;
$color-paragraph: #595959;
$color-bg-blocks: #1A1C21;

//OTHER
$transition: .3s all;
