<div class="course-card">
  <img class="course-card__preview" src="img/course-card/aoki.png" alt="">
  <div class="course-card__inner">
    <div class="course-card__data">
      <div class="course-card__header">
        <div class="course-card__name">Курс диджеинга</div>
        <div class="course-card__rating">
          <span class="course-card__rating-val">4.9</span>
          <svg class="course-card__rating-star">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
        </div>
      </div>
      <div class="countdown course-card__countdown" data-date-end="2021-09-15T18:43:00">
        <div class="countdown__title course-card__countdown-title">
          До конца <span class="color-yellow">акции</span>!
        </div>
        <div class="countdown__wrapper">
          <div class="countdown__block" data-unit="hours">
            <div class="countdown__item">
              <span class="countdown__item-val">1</span>
            </div>
            <div class="countdown__item">
              <span class="countdown__item-val">2</span>
            </div>
            <span class="countdown__unit-name">Часов</span>
          </div>
          <div class="countdown__spacer">:</div>
          <div class="countdown__block" data-unit="minutes">
            <div class="countdown__item">
              <span class="countdown__item-val">5</span>
            </div>
            <div class="countdown__item">
              <span class="countdown__item-val">2</span>
            </div>
            <span class="countdown__unit-name">Минут</span>
          </div>
          <div class="countdown__spacer">:</div>
          <div class="countdown__block" data-unit="seconds">
            <div class="countdown__item">
              <span class="countdown__item-val">5</span>
            </div>
            <div class="countdown__item">
              <span class="countdown__item-val">2</span>
            </div>
            <span class="countdown__unit-name">Секунд</span>
          </div>
        </div>
      </div>
      <div class="course-card__price">
        <span class="course-card__price-text color-red">Всего:</span>
        <span class="course-card__price-val">$28</span>
        <span class="course-card__price-val-old">$99</span>
      </div>
      <div class="course-card__action">
        <button class="btn btn--default btn--dark course-card__btn course-card__btn--more">
          Подробнее
        </button>
        <button class="btn btn--default btn--red-light course-card__btn">
          Купить курс
        </button>
      </div>
    </div>
  </div>
  <div class="course-card__label course-card__label--new">
    Новое
  </div>
  <div class="course-card__likes">
    <svg class="course-card__likes-icon">
      <use xlink:href="img/sprite.svg#heart"></use>
    </svg>
    <span class="course-card__likes-count">146</span>
  </div>
</div>
