<div class="course-card course-card--coming">
  <img class="course-card__preview" src="img/course-card/aoki.png" alt="">
  <div class="course-card__inner course-card__inner--coming">
    <div class="course-card__data course-card__data--coming">
      <div class="course-card__header course-card__header--coming">
        <div class="course-card__name">Курс диджеинга</div>
      </div>
      <div class="course-card__release-info">СКОРО В ПРОДАЖЕ</div>
      <div class="course-card__price course-card__price--coming">
        <span class="course-card__price-val">$28</span>
      </div>
    </div>
    <div class="course-card__action course-card__action--coming">
      <button class="btn btn--default btn--yellow course-card__btn">
        Скоро в продаже
      </button>
    </div>
  </div>
  <div class="course-card__label course-card__label--new">
    Новое
  </div>
  <div class="course-card__likes">
    <svg class="course-card__likes-icon">
      <use xlink:href="img/sprite.svg#heart"></use>
    </svg>
    <span class="course-card__likes-count">146</span>
  </div>
</div>
